<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta charset="utf-8" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="../stylesheets/addStudent.css" rel="stylesheet" />
    </head>
    <!-- This is where a new student can be added to the database -->
    <body>
        <div class="content">
            <div class="container">
                <form id="reg-form">
                    <div class="row">
                    
                        <div class="col">
                            <div id="profilePic">
                                <center>image here</center>
                            </div>
                            <!-- input Document info here-->
                            <div id="files">
                                <div class="row attribute"  >
                                    <input type="text" id="transcript" placeholder="Enter Transcripts Here" />
                                </div>
                                <div class="row attribute" >
                                    <input type="text" id="saScore" placeholder="Enter SAT/ACT Score Here" />
                                </div>
                                <div class="row attribute"  >
                                    <input type="text" id="piq" placeholder="Enter PIQ Here" />
                                    
                                </div>
                                <div class="row attribute"  >
                                    <input type="text" id="letters" placeholder="Enter Letter of Recs Here" />
                                    
                                </div>
                            </div>
                        </div>
                        <!-- This stays as it is, it is the row names -->
                        <div class="col-5" id="boxStudent">
                            <div class="row">
                                <div class="col" id="input">
                                    <div class="row attribute" >
                                        Username:
                                    </div>
                                    <div class="row attribute" >
                                        Password:
                                    </div>
                                    <div class="row attribute" >
                                        First Name:
                                    </div>
                                    <div class="row attribute" >
                                        Middle Name:
                                    </div>
                                    <div class="row attribute" >
                                        Last Name:
                                    </div>
                                    <div class="row attribute" >
                                        Gender:
                                    </div>
                                    <div class="row attribute" >
                                        Address:
                                    </div>
                                    <div class="row attribute" >
                                        Birthday:
                                    </div>
                                    <div class="row attribute" >
                                        Email:
                                    </div>
                                    <div class="row attribute">
                                        Telephone:
                                    </div>
                                    <div class="row attribute" >
                                        Grade:
                                    </div>
                                    <div class="row attribute">
                                        School:
                                    </div>
                                    <div class="row attribute">
                                        GPA:
                                    </div>
                                    <div class="row attribute">
                                        Major:
                                    </div>
                                    <div class="row attribute">
                                        Mil. Status:
                                    </div>
                                </div>
                                <!-- Begin main User input for new student info -->
                                <div class="col-4" id="ans" >
                                    <div class="row attribute studentAns">
                                        <input type="text" id="username" placeholder="Enter username here" />
                                    </div>
                                    <div class="row attribute studentAns">
                                        <input type="text" id="password" placeholder="Enter password here" />
                                    </div>
                                    <div class="row attribute studentAns">
                                        <input type="text" id="fname" placeholder="Enter first name here" />
                                        
                                    </div>
                                    <div class="row attribute studentAns">
                                        <input type="text" id="mname" placeholder="Enter middle name here" />
                                        
                                    </div>
                                    <div class="row attribute studentAns">  
                                        <input type="text" id="lname" placeholder="Enter last name here" />
                                        
                                    </div>
                                    <div class="row attribute studentAns">
                                        <input type="text" id="gender" placeholder="Enter gender here" />
                                        
                                    </div>
                                    <div class="row attribute studentAns">
                                        <input type="text" id="address" placeholder="Enter address here" />
                                        
                                    </div>
                                    <div class="row attribute studentAns">
                                        <input type="text" id="bday" placeholder="Enter birthday here" />
                                        
                                    </div>
                                    <div class="row attribute studentAns">
                                        <input type="text" id="email" placeholder="Enter email here" />
                                        
                                    </div>
                                    <div class="row attribute studentAns">
                                        <input type="text" id="telephone" placeholder="Enter telephone here" />
                                        
                                    </div>
                                    <div class="row attribute studentAns">
                                        <input type="text" id="grade" placeholder="Enter grade here" />
                                        
                                    </div>
                                    <div class="row attribute studentAns">
                                        <input type="text" id="school" placeholder="Enter high school here" />
                                        
                                    </div>
                                    <div class="row attribute studentAns">
                                        <input type="text" id="gpa" placeholder="Enter GPA here" />
                                        
                                    </div>
                                    <div class="row attribute studentAns"> 
                                        <input type="text" id="major" placeholder="Enter major here" />
                                        
                                    </div>
                                    <div class="row attribute studentAns">
                                        <input type="text" id="militaryStatus" placeholder="Enter military Status here" />
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-3 attribute" id="studentBtn">
                            <center>
                                <div id="logo">
                                    <img src="images/zoom_logo.png" width=300 height=300>
                                </div>
                                <!-- The submit button, this will likely need to be linked to the create student route -->
                                <div id="buttons">
                                    <input type="submit" class="btn btn-primary btn-lg" value="SubmitForm" />
                                </div>
                            </center>
                            
                        </div>
                    
                    </div>
                </form>
            </div>
        </div>
        <script>
            const form = document.getElementById('reg-form')
            form.addEventListener('submit', registerUser)

            async function registerUser(event){
                event.preventDefault()
                await db.collection('Student').insertOne({
                    Username: document.getElementById('username').value,
                    Password: document.getElementById('password').value,
                    FirstName: document.getElementById('password').value,
                    LastName: document.getElementById('password').value,
                    MiddleName: document.getElementById('password').value,
                    Birthday: document.getElementById('password').value,
                    Gender: document.getElementById('password').value,
                    StudentAddress: document.getElementById('password').value,
                    Semester: document.getElementById('password').value,
                    SAT: document.getElementById('password').value,
                    Major: document.getElementById('password').value,
                    StudentEmail: document.getElementById('password').value,
                    DegreeType: document.getElementById('password').value,
                    MilitaryStatus: document.getElementById('password').value,
                    PreviousSchool: document.getElementById('password').value,
                    PreviousSchoolAddress: document.getElementById('password').value,
                    ApplicationStatus: document.getElementById('password').value,
                    Telephone: document.getElementById('password').value,
                    SubmissionDateTime: document.getElementById('password').value,
                    Transcripts: document.getElementById('password').value,
                    APScores: document.getElementById('password').value,
                    LetterOfRec: document.getElementById('password').value,
                    Extracurricular: document.getElementById('password').value,
                    PIQ: document.getElementById('password').value
                });
                
            }
        </script>
    </body>
</html>