<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../stylesheets/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>Admissions Student View</title>
    <script src = "script.js"></script>

</head>

<body>
    <script>

            document.getElementById('submit').onclick = function() {
                console.log("hello world");
                let params = new URLSearchParams(document.location.search.substring(1));
                let ID = params.get("ID");
                console.log("hello world");
                this.value = ID;
            }
        
    </script>


    <div class="content">
        <form action="/student/detail" method="post">
            <button type="submit" id="submit" name="_id" value="1">
                View Student
            </button>
        </form>
        

        <div class="container">
            <div class="row">
                <div class="col">
                    <div id="profilePic">
                        <center>image here</center>
                    </div>
                    <div id="files">
                        <center> files here</center>
                    </div>
                </div>
                <div class="col-5" id="boxstudent">
                    <div class="row">
                        <div class="col" id="input">
                            <div class="row attribute" id="fname">
                                First Name:
                            </div>
                            <div class="row attribute" id="mname">
                                Middle Name:
                            </div>
                            <div class="row attribute" id="lname">
                                Last Name:
                            </div>
                            <div class="row attribute" id="address">
                                Address:
                            </div>
                            <div class="row attribute" id="bday">
                                Birthday:
                            </div>
                            <div class="row attribute" id="email">
                                Email:
                            </div>
                            <div class="row attribute" id="telephone">
                                Telephone:
                            </div>
                            <div class="row attribute" id="attribute">
                                Grade:
                            </div>
                            <div class="row attribute" id="attribute">
                                School:
                            </div>
                            <div class="row attribute" id="gpa">
                                GPA:
                            </div>
                            <div class="row attribute" id="attribute">
                                Major:
                            </div>
                            <div class="row attribute" id="attribute">
                                SAT Score:
                            </div>
                            <div class="row attribute" id="attribute">
                                ACT Score:
                            </div>
                            <div class="row attribute" id="attribute">
                                PIQ: 
                            </div>
                            <div class="row attribute" id="attribute">
                                Status:
                            </div>
                        </div>
                        <div class="col-4" id="ans">
                         
                                <div class="row attribute" id="fname">
                                   
                                </div>
                                <div class="row attribute" id="mname">
                                    
                                </div>
                                <div class="row attribute" id="lname">
                                    
                                </div>
                                <div class="row attribute" id="address">
                                    
                                </div>
                                <div class="row attribute" id="bday">
                                    
                                </div>
                                <div class="row attribute" id="email">
                                    
                                </div>
                                <div class="row attribute" id="telephone">
                                    123-456-7890
                                </div>
                                <div class="row attribute" id="attribute">
                                    12
                                </div>
                                <div class="row attribute" id="attribute">
                                    Walnut High School
                                </div>
                                <div class="row attribute" id="gpa">
                                    3.72
                                </div>
                                <div class="row attribute" id="attribute">
                                    Computer Science
                                </div>
                                <div class="row attribute" id="attribute">
                                    1450
                                </div>
                                <div class="row attribute" id="attribute">
                                    N/A
                                </div>
                                <div class="row attribute" id="attribute">
                                    PIQ: blah blah blah
                                </div>
                         
                        </div>
                    </div>
                </div>
                <div class="col-3 attribute" id="adminButtons">
                    <div id="editText">
                        <h6>Comments:</h6>
                        <center>
                            <div id="comment" contenteditable="true">
                                <center> comments </center>
                            </div>
                        </center>
                    </div>
                    <form action="/AdmisStudentView" method="post"></form>
                        <div id="buttons">
                            <center>
                                <button type="button" class="btn btn-success" onclick="studentDecision()">Admit</button>
                                <a href="profiles.html">
                                    <button type="button" class="btn btn-danger">Reject</button>
                                </a>
                                <a href="profiles.html">
                                    <button type="button" class="btn btn-secondary">WaitList</button>
                                </a>
                            </center>
                        </div>
                    </form>
                    <div id="logo">
                        <img src="images/zoom_logo.png" width=300 height=300>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>

</html>