<!DOCTYPE html>
  <head>
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta charset="utf-8" />
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
      <title>Applicant Profiles</title>
  </head>
  <body>
    <table>
     
        <form action="/stores/detail" method="post">
            <button type="submit" class="list-group-item list-group-item-action" name="store_name" value="<%= store[i].Store_Name %>">
              <td>
                <div>
                  <center>
                    <div
                      style="width:150px;height:150px;background-color:#A9CF97;border:2px solid #000;border-radius: 25px; margin: 20px;"
                    ></div>
                    <footcaption>
                      name
                    </footcaption>
                  </center>
                </div>
              </td>
              <input type="hidden" name="store_id" value="<%= store[i].Store_ID %>" />
            </button>
        </form>
    `<% } %>
      <button type="submit" name="applicant" value="<%= store[i].Store_Name %>"></button>
        <td>
          <div>
            <center>
              <div
                style="width:150px;height:150px;background-color:#A9CF97;border:2px solid #000;border-radius: 25px; margin: 20px;"
              ></div>
              <footcaption>
                name
              </footcaption>
            </center>
          </div>
        </td>
        <input type="hidden" name="store_id" value="<%= store[i].Store_ID %>" />
      </button>




      <td>
        <div>
          <center>
            <div
              style="width:150px;height:150px;background-color:#A9CF97;border:2px solid #000;border-radius: 25px; margin: 20px;"
            ></div>
            <footcaption>
              name
            </footcaption>
          </center>
        </div>
      </td>
      <td>
        <div>
          <center>
            <div
              style="width:150px;height:150px;background-color:#A9CF97;border:2px solid #000;border-radius: 25px; margin: 20px;"
            ></div>
            <footcaption>
              name
            </footcaption>
          </center>
        </div>
      </td>
      <td>
        <div>
          <center>
            <div
              style="width:150px;height:150px;background-color:#F8DD7F;border:2px solid #000;border-radius: 25px; margin: 20px;"
            ></div>
            <footcaption>
              name
            </footcaption>
          </center>
        </div>
      </td>
      <td>
        <div>
          <center>
            <div
              style="width:150px;height:150px;background-color:#F8DD7F;border:2px solid #000;border-radius: 25px; margin: 20px;"
            ></div>
            <footcaption>
              name
            </footcaption>
          </center>
        </div>
      </td>
      <tr>
      </tr>
      <td>
        <div>
          <center>
            <div
              style="width:150px;height:150px;background-color:#F8DD7F;border:2px solid #000;border-radius: 25px; margin: 20px;"
            ></div>
            <footcaption>
              name
            </footcaption>
          </center>
        </div>
      </td>
      <td>
        <div>
          <center>
            <div
              style="width:150px;height:150px;background-color:#F8DD7F;border:2px solid #000;border-radius: 25px; margin: 20px;"
            ></div>
            <footcaption>
              name
            </footcaption>
          </center>
        </div>
      </td>
      <td>
        <div>
          <center>
            <div
              style="width:150px;height:150px;background-color:#D97F7F;border:2px solid #000;border-radius: 25px; margin: 20px;"
            ></div>
            <footcaption>
              name
            </footcaption>
          </center>
        </div>
      </td>
      <td>
        <div>
          <center>
            <div
              style="width:150px;height:150px;background-color:#D97F7F;border:2px solid #000;border-radius: 25px; margin: 20px;"
            ></div>
            <footcaption>
              name
            </footcaption>
          </center>
        </div>
      </td>
      <td>
        <div>
          <center>
            <div
              style="width:150px;height:150px;background-color:LightGray;border:2px solid #000;border-radius: 25px; margin: 20px;"
            ></div>
            <footcaption>
              name
            </footcaption>
          </center>
        </div>
      </td>
    </table>
  </body>
</html>