<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Login</title>
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="../stylesheets/login-style.css">
</head>

<body>
    <div class="logo-login">
        <a href="/studentLogin">
            <img src="/images/zoom_logo.png" width="200" height="200"/>
        </a>
    </div>
    <div id = "studentHead">
        <center>
            <h2>Student Login</h2>
        </center>
    </div>
    <!-- Login form -->
    <div class="loginform">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="/studentLogin">Student</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="/admisLogin">Admissions</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="/addStudent">New Student</a>
            </li>

        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane container active" id="student">...</div>
            <div class="tab-pane container fade" id="administrator">...</div>
        </div>

  

            <p>Applicant ID</p>
            <input type = "text" id="appID">

            <br/>

            <form action="/student/mine" method="post">
                <button type="submit" id="login" name="_id" value="1" onclick="setValue()">
                    Login
                </button>
            </form>


            <div class="login-links1">
                <a href="/forgotPassword">Forgot password?</a>
            </div>
       


    </div>
    <script>
        function setValue(){
            if (document.getElementById("appID").value){
                document.getElementById("login").value = document.getElementById("appID").value;
            }
            
        }
    </script>

</body>
</html>