body {
    background-color: #ADD8E6;
    font-family: Arial;
}

.items-grid-cont {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: 80px;
    justify-content: center;
    position: relative;
    width: 100%;
    padding: 20px 20px;
    padding-top: 80px;
    margin-bottom: 80px;
    border-radius: 5px;
  }
  
  .items-grid-cont h3 {
    font-size: 25px;
    position: absolute;
    padding: 20px;
  }
  
  .inner-grid-cont {
    width: 100%;
    display: grid;
    gap: 50px;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  }
  .logo-login img {
    max-width: 30%;
    height: auto;
    position: absolute;
    left: 50%;
    top: 13%;
    transform: translate(-50%,-50%);
}